<!doctype html>
<html>

<head>
    <title>Material Notepad</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/angular-material.min.css">
    <style>
    @font-face {
        font-family: Roboto;
        src: url(fonts/Roboto-Regular.ttf);
    }
    
    @font-face {
        font-family: RobotoMono;
        src: url(fonts/RobotoMono-Regular.ttf);
    }
    
    .roboto {
        font-family: Roboto;
    }
    
    .robotoMono {
        font-family: RobotoMono;
    }
    
    #toolbar {
        width: 100%;
    }
    
    #box {
        height: calc(100% - 96px);
    }
    
    #text {
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        background: transparent;
        outline: none;
        border: none;
        color: white;
        resize: none;
        padding-top: 5px;
        padding-left: 5px;
        padding-right: 5px;
        font-size: 16px;
    }
    
    @media print {
        #text,
        body {
            color: black;
            background-color: white;
        }
        #toolbar {
            display: none;
        }
    }
    
    md-toast.md-default-theme .md-toast-content {
        background-color: #F5F5F5;
        color: black;
        margin-left: auto;
        margin-right: auto;
        width: 250px;
    }
    
    .yesWrap {
        white-space: wrap;
    }
    
    .noWrap {
        white-space: nowrap;
    }
    </style>
</head>

<body ng-app="Notepad" ng-cloak>
    <div id="toolbar" ng-controller="Controller as ctrl">
        <md-toolbar class="md-menu-toolbar">
            <div layout="row">
                <md-toolbar-filler layout layout-align="center center">
                    <md-icon md-svg-icon="$default:note-text"></md-icon>
                </md-toolbar-filler>
                <div>
                    <h2 class="md-toolbar-tools" id="title">untitled.txt</h2>
                    <md-menu-bar>
                        <md-menu>
                            <button ng-click="$mdOpenMenu()">
                                File
                            </button>
                            <md-menu-content>
                                <md-menu-item>
                                    <md-button ng-click="ctrl.new()">New<span class="md-alt-text">{{'M-N'|KS}}</span></md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="ctrl.open()">Open...<span class="md-alt-text">{{'M-O'|KS}}</span></md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="ctrl.save()">Save<span class="md-alt-text">{{'M-S'|KS}}</span></md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="ctrl.saveAs()">Save As...</md-button>
                                </md-menu-item>
                                <md-menu-divider></md-menu-divider>
                                <!--<md-menu-item><md-button>Page Setup...</md-menu-item>-->
                                <md-menu-item>
                                    <md-button ng-click="ctrl.print()">Print...<span class="md-alt-text">Ctrl+P</span></md-button>
                                </md-menu-item>
                                <md-menu-divider></md-menu-divider>
                                <md-menu-item>
                                    <md-button ng-click="ctrl.exit()">Exit</md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                        <md-menu>
                            <button ng-click="$mdOpenMenu()">
                                Edit
                            </button>
                            <md-menu-content>
                                <md-menu-item class="md-indent">
                                    <md-icon md-svg-icon="undo"></md-icon>
                                    <md-button ng-click="ctrl.undo()">Undo<span class="md-alt-text">{{'M-Z'|KS}}</span></md-button>
                                </md-menu-item>
                                <md-menu-item class="md-indent">
                                    <md-icon md-svg-icon="redo"></md-icon>
                                    <md-button ng-click="ctrl.redo()">Redo<span class="md-alt-text">{{'M-Y'|KS}}</span></md-button>
                                </md-menu-item>
                                <md-menu-divider></md-menu-divider>
                                <md-menu-item class="md-indent">
                                    <md-icon md-svg-icon="content-cut"></md-icon>
                                    <md-button ng-click="ctrl.cut()">Cut<span class="md-alt-text">{{'M-X'|KS}}</span></md-button>
                                </md-menu-item>
                                <md-menu-item class="md-indent">
                                    <md-icon md-svg-icon="content-copy"></md-icon>
                                    <md-button ng-click="ctrl.copy()">Copy<span class="md-alt-text">{{'M-C'|KS}}</span></md-button>
                                </md-menu-item>
                                <md-menu-item class="md-indent">
                                    <md-icon md-svg-icon="content-paste"></md-icon>
                                    <md-button ng-click="ctrl.paste()">Paste<span class="md-alt-text">{{'M-V'|KS}}</span></md-button>
                                </md-menu-item>
                                <md-menu-item class="md-indent">
                                    <md-icon md-svg-icon="delete"></md-icon>
                                    <md-button ng-click="ctrl.delete()">Delete<span class="md-alt-text">Del</span></md-button>
                                </md-menu-item>
                                <md-menu-divider></md-menu-divider>
                                <!--<md-menu-item><md-button ng-click="ctrl.find()">Find...<span class="md-alt-text">Ctrl+F</span></md-button></md-menu-item>
              <md-menu-item><md-button ng-click="ctrl.findNext()">Find Next<span class="md-alt-text">F3</span></md-button></md-menu-item>
              <md-menu-item><md-button ng-click="ctrl.replace()">Replace...<span class="md-alt-text">Ctrl+H</span></md-button></md-menu-item>
              <md-menu-item><md-button ng-click="ctrl.goTo()" >Go To...<span class="md-alt-text">Ctrl+G</span></md-button></md-button></md-menu-item>
              <md-menu-divider></md-menu-divider>-->
                                <md-menu-item class="md-indent">
                                    <md-icon md-svg-icon="select-all"></md-icon>
                                    <md-button ng-click="ctrl.selectAll()">Select All<span class="md-alt-text">{{'M-A'|KS}}</span></md-button>
                                </md-menu-item>
                                <md-menu-item class="md-indent">
                                    <md-icon md-svg-icon="calendar-clock"></md-icon>
                                    <md-button ng-click="ctrl.timeDate()">Time/Date<span class="md-alt-text">{{'M-T'|KS}}</span></md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                        <md-menu>
                            <button ng-click="$mdOpenMenu()">
                                Format
                            </button>
                            <md-menu-content>
                                <md-menu-item type="checkbox" ng-click="ctrl.wrap()" ng-model="ctrl.checkbox.wordWrap">Word Wrap</md-menu-item>
                                <md-menu-item class="md-indent">
                                    <md-icon md-svg-icon="format-title"></md-icon>
                                    <md-button ng-click="font($event)">Font...</md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                        <!--<md-menu>
            <button ng-click="$mdOpenMenu()">
              View
            </button>
            <md-menu-content>
              <md-menu-item type="checkbox"><md-button>Status Bar</md-button></md-menu-item>
            </md-menu-content>
          </md-menu>-->
                        <md-menu>
                            <button ng-click="$mdOpenMenu()">
                                Help
                            </button>
                            <md-menu-content>
                                <md-menu-item>
                                    <md-button ng-click="ctrl.help()">View Issues On GitHub</md-button>
                                </md-menu-item>
                                <md-menu-divider></md-menu-divider>
                                <md-menu-item>
                                    <md-button ng-click="ctrl.about()">About Material Notepad</md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-disabled=true>Version 1.1.0</md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </md-menu-bar>
                </div>
            </div>
        </md-toolbar>
    </div>
    <div id="box">
        <textarea class="noWrap roboto" id="text" autofocus></textarea>
    </div>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-animate.min.js"></script>
    <script src="js/angular-aria.min.js"></script>
    <script src="js/angular-messages.min.js"></script>
    <script src="js/angular-material.min.js"></script>
    <script type="text/javascript">
    const {
        shell
    } = require('electron');
    const Config = require('electron-config');
    const config = new Config();

    var remote = require('electron').remote;
    var dialog = remote.require('electron').dialog;
    var fs = require('fs');
    var open = 0;
    var canSave = 0;

    // Open file on drag and drop
    document.ondragover = document.ondrop = (ev) => {
        ev.preventDefault()
    }
    document.body.ondrop = (ev) => {
        var fileName = ev.dataTransfer.files[0].path;
        if (fileName.endsWith('.txt')) {
            fs.readFile(fileName, 'utf-8', function(err, data) {
                document.getElementById("text").value = data;
                document.getElementById("title").innerHTML = fileName;
                canSave = 1;
            });
        }
        ev.preventDefault()
    }

    angular.module('Notepad', ['ngMaterial'])
        .config(function($mdThemingProvider) {
            $mdThemingProvider.theme('default')
                .primaryPalette('teal')
                .accentPalette('purple')
                .dark();
        })
        .config(['$mdIconProvider', function($mdIconProvider) {
            $mdIconProvider
                .iconSet('$default', __dirname + '/icons/mdi-icons.svg', 24)
        }])
        .filter('KS', function($window) {
            return function(str) {
                if (!str) return;
                var keys = str.split('-');
                var isOSX = /Mac OS X/.test($window.navigator.userAgent);
                var seperator = (!isOSX || keys.length > 2) ? '+' : '';
                var abbreviations = {
                    M: isOSX ? '⌘ + ' : 'Ctrl',
                    A: isOSX ? '⌥ + ' : 'Alt',
                    S: isOSX ? '⇧ + ' : 'Shift',
                };
                return keys.map(function(key, index) {
                    var last = index == keys.length - 1;
                    return last ? key : abbreviations[key];
                }).join(seperator);
            };
        })
        .controller('Controller', function Controller($mdDialog, $mdToast, $document, $scope) {
            var self = this;

            // Check if the config is set
            if (config.get('wrap') == null) {
                config.set('wrap', false);
            }
            if (config.get('fontSize') == null) {
                config.set('fontSize', 16);
            }
            if (config.get('mono') == null) {
                config.set('mono', false);
            }

            // Set things based on config
            if (config.get('wrap') == true) {
                angular.element(document.getElementById("text")).removeClass("noWrap");
                angular.element(document.getElementById("text")).addClass("yesWrap");
                self.checkbox = {
                    wordWrap: true
                };
            } else {
                self.checkbox = {
                    wordWrap: false
                };
            }
            angular.element(document.getElementById("text")).css('font-size', config.get('fontSize') + 'px');
            if (config.get('mono') == true) {
                angular.element(document.getElementById("text")).removeClass("roboto");
                angular.element(document.getElementById("text")).addClass("robotoMono");
            };


            $document.bind("keypress", function(keyPress) {
                var key = keyPress.keyCode
                    //console.log(key);
                if (key === 14) {
                    self.new()
                } else if (key === 15) {
                    self.open()
                } else if (key === 16) {
                    self.print()
                } else if (key === 19) {
                    self.save()
                } else if (key === 20) {
                    self.timeDate()
                }
            });

            //File
            self.new = function() {
                $mdDialog.show($mdDialog.confirm()
                    .title('New File?')
                    .textContent("Do you want to create a new file? The current one won't be saved.")
                    .ok('OK')
                    .cancel('Cancel')
                ).then(function() {
                    canSave = 0;
                    document.getElementById("text").value = "";
                    document.getElementById("title").innerHTML = "untitled.txt";
                });
            };
            self.open = function() {
                dialog.showOpenDialog({
                    filters: [{
                        name: '.txt',
                        extensions: ['txt']
                    }]
                }, function(fileNames) {
                    if (fileNames === undefined) return;
                    var fileName = fileNames[0];
                    fs.readFile(fileName, 'utf-8', function(err, data) {
                        document.getElementById("text").value = data;
                        document.getElementById("title").innerHTML = fileName;
                        canSave = 1;
                    });
                });
            };
            self.save = function() {
                if (canSave === 1) {
                    fs.writeFile(document.getElementById("title").innerHTML, document.getElementById("text").value, function(err) {
                        if (err === null) {
                            $mdToast.show($mdToast.simple().textContent('Saved!'))
                        } else {
                            dialog.showErrorBox("File Save Error", err.message);
                        }
                    });
                } else {
                    dialog.showSaveDialog({
                        filters: [{
                            name: '.txt',
                            extensions: ['txt']
                        }]
                    }, function(fileName) {
                        if (fileName === undefined) return;
                        fs.writeFile(fileName, document.getElementById("text").value, function(err) {
                            if (err === null) {
                                canSave = 1;
                                document.getElementById("title").innerHTML = fileName;
                                $mdToast.show($mdToast.simple().textContent('Saved!'))
                            } else {
                                dialog.showErrorBox("File Save Error", err.message);
                            }
                        });
                    });
                }
            };
            this.saveAs = function() {
                dialog.showSaveDialog({
                    filters: [{
                        name: '.txt',
                        extensions: ['txt']
                    }]
                }, function(fileName) {
                    if (fileName === undefined) return;
                    fs.writeFile(fileName, document.getElementById("text").value, function(err) {
                        if (err === null) {
                            canSave = 1;
                            document.getElementById("title").innerHTML = fileName;
                            $mdToast.show($mdToast.simple().textContent('Saved!'))
                        } else {
                            dialog.showErrorBox("File Save Error", err.message);
                        }
                    });
                });
            };
            self.print = function() {
                setTimeout(function() {
                    window.print();
                }, 1000);
            };
            this.exit = function() {
                var remote = require('electron').remote;
                var window = remote.getCurrentWindow();
                window.close();
            };

            //Edit
            this.undo = function() {
                document.execCommand("undo");
            };
            this.redo = function() {
                document.execCommand("redo");
            };
            this.cut = function() {
                document.execCommand("cut");
            };
            this.copy = function() {
                document.execCommand("copy");
            };
            this.paste = function() {
                document.execCommand("paste");
            };
            this.delete = function() {
                document.execCommand("delete");
            };
            this.find = function() {
                open = 1
                $mdDialog.show($mdDialog.prompt()
                    .title('Find')
                    .textContent('Find what:')
                    .placeholder('Enter search here')
                    .ok('Find Next')
                    .cancel('Cancel')
                ).then(function() {
                    document.getElementById("text").focus();
                    open = 0;
                }, function() {
                    document.getElementById("text").focus();
                    open = 0;
                });
            };
            this.selectAll = function() {
                document.getElementById("text").select();
            };
            this.timeDate = function() {
                var d = new Date();
                var hours = d.getHours();
                var minutes = d.getMinutes();
                var days = d.getDate();
                var months = d.getMonth() + 1;
                var years = d.getFullYear();
                document.getElementById("text").value += (hours + ":" + minutes + " " + days + "/" + months + "/" + years)
            };

            //Format
            this.wrap = function() {
                var text = angular.element(document.getElementById("text"));
                if (config.get('wrap') == false) {
                    text.removeClass("noWrap");
                    text.addClass("yesWrap");
                    config.set('wrap', true);
                } else {
                    text.removeClass("yesWrap");
                    text.addClass("noWrap");
                    config.set('wrap', false);
                }
            };

            //Help
            this.help = function() {
                shell.openExternal('https://github.com/GreenTurtwig/Material-Notepad/issues');
            };
            this.about = function() {
                $mdDialog.show($mdDialog.alert()
                    .title('About')
                    .textContent('Material Notepad is just that, a "clone" of the Notepad in Windows (although with less features) made using Material Design. It runs on Windows and Linux.')
                    .ok('Close')
                );
            };

            // Font
            $scope.font = function(ev) {
                $mdDialog.show({
                    controller: FontCtrl,
                    templateUrl: 'font.html',
                    parent: angular.element(document.body),
                    targetEvent: ev,
                    clickOutsideToClose: false
                });
            };

            function FontCtrl($scope, $mdDialog) {

                $scope.fontSizePlaceholder = config.get('fontSize');
                $scope.mono = config.get('mono');

                $scope.ok = function() {
                    config.set('fontSize', $scope.fontSize)
                    config.set('mono', $scope.mono);

                    angular.element(document.getElementById("text")).css('font-size', $scope.fontSize + 'px');

                    if ($scope.mono == true) {
                        angular.element(document.getElementById("text")).removeClass("roboto");
                        angular.element(document.getElementById("text")).addClass("robotoMono");
                    } else {
                        angular.element(document.getElementById("text")).removeClass("robotoMono");
                        angular.element(document.getElementById("text")).addClass("roboto");
                    }

                    $mdDialog.hide();
                };

                $scope.cancel = function() {
                    $mdDialog.cancel();
                };
            }

        });
    </script>
    <script type="text/javascript">
    //Keep textarea focused
    document.getElementById("text").onblur = function() {
        if (open == 0) {
            document.getElementById("text").focus();
        }
    };
    </script>
</body>

</html>
